<h1>Add new courses</h1>
{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST" class="frm" novalidate>
    <div class="input-field">
        <input  id="title" name="title" type="text" class="validate" required value="{{data.title}}">
        <label for="title">Courses Name</label>
        <span class="helper-text" data-error="Enter your name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1" value="{{data.price}}">
        <label for="price">Price of courses</label>
        <span class="helper-text" data-error="Enter your price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{data.img}}">
        <label for="img">URL images</label>
        <span class="helper-text" data-error="Enter the URL of your picture"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn btn-primary">Add new course</button>
</form>