<h1>My Orders</h1>

{{#if orders.length}}
    {{#each orders}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card order">
                    <div class="card-content">
                        <span class="card-title">
                            Order : <small style="font-family:'Times New Roman', Times, serif">{{_id}}</small>
                        </span>
                        <p class="date">Date: {{date}}</p>
                        <p><em>{{user.userId.name}}</em> ({{user.userId.email}})</p>
                        <ol>
                            {{#each courses}}
                            <li>
                                {{course.title}} (x<strong>{{count}}</strong>)
                            </li>
                            {{/each}}
                        </ol>
                        <hr>
                        <p class="pr">Price: <span class="price">{{price}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
<p>There are no orders yet</p>
{{/if}}